body{
    padding: 3em;
}

.images{
    padding: 4em;
}

.images>span{
    font-size: 2em;
    padding: 2em;
    font-weight: bold;
    letter-spacing: .04em;
}

a{
    font-style: italic;
}

p{
    color: black;
}

p>a{
    text-decoration: none;
}