body{
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
}

.images{
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.images>p{
    font-size: 1.5em;
    padding: 2em;
    font-weight: bold;
    letter-spacing: .04em;
}

a{
    font-style: italic;
}

p{
    color: black;
}

p>a{
    text-decoration: none;
}

cite>a{
    font-family: 'Courier New', Courier, monospace;
}

q{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: NNNpx;
}